*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/shelf
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore.properties
.kotlin
.gradle-local/
.upload-repo/
upload-to-github.ps1
Seal-homework-upload.zip
push-with-token.ps1
.appium-tools/
.appium-home/
.appium-python/
.npm-cache/
.pip-cache/
appium-practice-screenshot.png
appium_pdf_notes.txt
